.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.feed {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.post-list {
  display: flex;
  flex-direction: column;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px 20px;
  padding: 8px;
  border: 1px black solid;
  border-radius: 3px;
  background-color: lightcyan;
  header {
    font-weight: bold;
    margin-bottom: 8px;
  }
  > img,
  video {
    max-width: 100%;
    align-self: center;
  }
  .post-card-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
  }
}

#long-menu {
  padding: 8px;
}

.post-form {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 3px;
  padding: 8px;
  margin: 8px 20px;
  textarea {
    resize: none;
    margin: 8px 0;
    min-width: 50vw;
  }
  button {
    align-self: center;
    margin: 8px;
  }
  > img,
  video {
    max-width: 100%;
    align-self: center;
    margin-bottom: 8px;
  }
}

.loading-indicator {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  align-self: center;
  width: 20vw;
  height: 20vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
